<%= content_for :user do %>
  <%= image_tag @invite_by.avatar, style: "border: 0; max-width: 100%; vertical-align: middle; border-radius: 50px;", width: "50" %>
<% end %>
<h4 style="text-align: center">
  <%="#{@invite_by.full_name} Invited you to join #{@room.name} room"%>
</h4>
<div style="text-align: center">
  <%= image_tag @user.avatar, style: "width: 70px; height: 70px; border-radius: 50px;" if @user.avatar.attached?%>
</div>
<div style="text-align: center; margin-top: 12px;">
  <%= link_to "Accept to invite", room_accept_invite_url(@room, @user, {time: @time}), style: "padding: 12px; border: 1px solid gray; background: blue; color: white; text-decoration: none; border-radius: 20px;" %>
</div>
<p style="text-align: center; margin-top: 20px; font-size: 12px; color: red;">Note: Invitation to join the activity within 3 minutes</p>
