<div class="header d-flex justify-content-between" data-controller="nav">
  <span class="font-size-22 m-t-10 m-l-20 pointer flex gap-2 items-center">
    <i class="anticon anticon-menu d-lg-none" data-action="click->nav#openMenu"></i>
    <%= image_tag "wid/logo_transparent.png", height: "50", width: "130", alt: "Logo" %>
  </span>
  <% if user_signed_in? %>
  <div class="d-flex align-items-center gap-4 mr-4">
    <div class="relative pointer">
      <%= link_to account_notifications_path do %>
        <svg fill="blue" width="30" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <title>Notifications</title>
          <path d="M4.214 3.227a.75.75 0 00-1.156-.956 8.97 8.97 0 00-1.856 3.826.75.75 0 001.466.316 7.47 7.47 0 011.546-3.186zM16.942 2.271a.75.75 0 00-1.157.956 7.47 7.47 0 011.547 3.186.75.75 0 001.466-.316 8.971 8.971 0 00-1.856-3.826z"></path>
          <path clip-rule="evenodd" fill-rule="evenodd" d="M10 2a6 6 0 00-6 6c0 1.887-.454 3.665-1.257 5.234a.75.75 0 00.515 1.076 32.94 32.94 0 003.256.508 3.5 3.5 0 006.972 0 32.933 32.933 0 003.256-.508.75.75 0 00.515-1.076A11.448 11.448 0 0116 8a6 6 0 00-6-6zm0 14.5a2 2 0 01-1.95-1.557 33.54 33.54 0 003.9 0A2 2 0 0110 16.5z"></path>
        </svg>
        <%= turbo_stream_from "notifications"%>

        <div id="notification-count">
          <%= render partial: "layouts/shared/count_notification", locals: { notification_count: @notification_count }%>
        </div>
      <% end %>
    </div>
    
    <%= image_tag current_user&.avatar, title: current_user&.full_name, id: "dropdownAvatar", class: "w-[30px] h-[30px] rounded-full", data: {dropdown_toggle: "dropdownHoverAvatar", dropdown_trigger: "hover"} if current_user.avatar.attached?%>
    <div id="dropdownHoverAvatar" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownAvatar">
          <li>
            <a href="/" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
          </li>
          <li>
            <%= link_to "Profile", profile_path(current_user), class: "block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" %>
          </li>
          <li>
            <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete }, class: "block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" %>
          </li>
        </ul>
    </div>
  </div>
  <% end %>
</div>