<table
  style="width: 100%; font-family: ui-sans-serif, system-ui, -apple-system, 'Segoe UI', sans-serif; background-color: #ebf2f6;"
  cellpadding="0" cellspacing="0" role="presentation">
  <tr>
    <td align="center" style="background-color: #ebf2f6">
      <table class="sm-w-full" style="width: 600px" cellpadding="0" cellspacing="0" role="presentation">
        <tr style="position: relative;">
          <td class="sm-py-8 sm-px-6" style="padding: 9px 48px; background:rgba(0, 0, 0, 0.05); text-align: left">
            <table>
              <tr>
                <td>
                  <a href="<%= root_url %>" target="_blank">
                    <img src="<%= email_image_tag('logo.png') %>" width="70" alt="Mix&Go"
                      style="border: 0; max-width: 100%; vertical-align: middle">
                  </a>
                </td>
                <td>
                  <p style="text-transform: uppercase; color: grey; font-weight: 600; font-size: 32px;">Work I Do</p>
                </td>
                <a style="position: absolute; right: 48px; top: 40px;">
                  <img src="<%= email_image_tag('author.jpg') %>" width="50" alt="Author"
                    style="border: 0; max-width: 100%; vertical-align: middle; border-radius: 50px;">
                </a>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td align="center" class="sm-px-6" style="background:rgba(0, 0, 0, 0.05)">
            <table style="width: 100%" cellpadding="0" cellspacing="0" role="presentation">
              <tr>
                <td class="sm-px-6"
                  style="border-radius: 4px; background-color: #fff; padding: 48px; text-align: left; font-size: 16px; line-height: 24px; color: #334155; box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05)">
                  <%= yield %>
                    <table role="separator" style="width: 100%" cellpadding="0" cellspacing="0">
                      <tr>
                        <td style="padding-top: 32px; padding-bottom: 32px">
                          <div style="height: 1px; background-color: #fff; line-height: 1px">&zwnj;</div>
                        </td>
                      </tr>
                    </table>
                    <!-- <p style="margin: 0; margin-bottom: 16px">
                    Thanks, <br>Cezar
                  </p> -->
                </td>
              </tr>
              <tr role="separator">
                <td style="height: 48px"></td>
              </tr>
              <tr>
                <td
                  style="padding-left: 24px; padding-right: 24px; text-align: -webkit-center; font-size: 12px; color: #475569;">
                  <table>
                    <tr>
                      <td align="center">
                        <a href="https://www.facebook.com/mixandgo" target="_blank">
                          <img src="<%= email_image_tag('fb.png') %>" width="30" alt="Facebook"
                            style="border: 0; max-width: 100%; vertical-align: middle">
                        </a>
                      </td>
                      <td>
                        <a href="https://www.instagram.com/mixandgo.srl" target="_blank">
                          <img src="<%= email_image_tag('instagram.png') %>" width="30" alt="Instagram"
                            style="border: 0; max-width: 100%; vertical-align: middle">
                        </a>
                      </td>
                      <td>
                        <a href="https://www.instagram.com/mixandgo.srl" target="_blank">
                          <img src="<%= email_image_tag('twitter.png') %>" width="30" alt="Twitter"
                            style="border: 0; max-width: 100%; vertical-align: middle">
                        </a>
                      </td>
                      <td>
                        <a href="<%= root_url %>" target="_blank">
                          <img src="<%= email_image_tag('linkedin.png') %>" width="30" alt="Linkedin"
                            style="border: 0; max-width: 100%; vertical-align: middle">
                        </a>
                      </td>
                    </tr>
                  </table>
                  <!-- <p style="cursor: default">
                  <a href="https://mixandgo.com" class="hover-text-decoration-underline"
                    style="text-decoration: none; color: #4338ca">mixandgo.com</a>
                </p> -->
                  <p>
                    Bd. Liviu Rebreanu 59, Timisoara 300755, Romania
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>