<%= turbo_stream.append "comment-list" do %>
  <div id="comment-<%=@comment.id%>">
    <div class="d-flex align-items-center gap-2 justify-between">
      <div class="d-flex align-items-center gap-2">
        <%= image_tag @comment.user.avatar, class: "w-[30px] h-[30px] rounded-full" if @comment.user.present? %>
        <p class="mb-0 text-sm font-medium text-gray-900 truncate dark:text-white">
          <%= @comment&.user&.full_name %>
        </p>
      </div>
      <div class="d-flex align-items-center gap-2">
        <p class="mb-0 text-sm font-medium text-gray-900 truncate dark:text-white"><%=time_ago_in_words(@comment.created_at)%></p>
        <% if @comment.user == current_user %>
          <div class="pointer mb-0 text-sm font-medium truncate d-flex align-items-center gap-2">
            <p class="mb-0" data-task="<%=@task.id%>" data-id="<%=@comment.id%>" data-action="click->modal-turbo#editComment" class="text-blue-500 hover:text-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium text-sm inline-flex items-center">Edit</p>
            <p class="mb-0" data-task="<%=@task.id%>" data-id="<%=@comment.id%>" data-action="click->modal-turbo#deleteComment" class="text-red-500 hover:text-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium text-sm inline-flex items-center">Delete</p>
          </div>
        <% end %>
      </div>
    </div>
    <p>
      <%= @comment.description %>
    </p>
  </div>
<% end %>

<%= turbo_stream.update "comment-form-#{@task.id}" do %>
  <%= form_with model: [@task, Comment.new] do |f| %>
    <%= f.rich_text_area :description, class: "comment form-control", placeholder: "Enter comment", data: {action: "keydown->modal-turbo#tags"} %>
    <div id="tags" class="tags border rounded hidden absolute p-2 lleft-[5px] bg-white mh-[150px] top-0 overflow-y-auto">
      <% @task.assign_members.each do |tag| %>
        <div data-action="click->modal-turbo#tagMember" data-full_name="<%=tag.user.full_name%>" class="pointer d-flex align-items-center gap-2 block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
          <%= image_tag tag.user.avatar, data: {full_name: tag.user.full_name}, class: "w-[30px] h-[30px] rounded-full" if tag.user.present? %>
          <p data-full_name="<%=tag.user.full_name%>" class="mb-0 text-sm font-medium text-gray-900 truncate dark:text-white">
            <%= tag&.user&.full_name %>
          </p>
        </div>
      <% end %>
    </div>
    <div class="d-flex justify-between items-center gap-2 mt-2 mb-3">
      <%= f.submit "Post", class: "rounded-lg py-1 px-2 btn-sm w-full bg-blue-600 hover:bg-blue-800 text-white inline-block font-medium cursor-pointer", data: {id: @task.id, action: "click->modal-turbo#open"} %>
      <button data-id="<%=@task.id%>" data-action="click->modal-turbo#open" type="button" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center py-1 px-2 text-center mr-2">cancel</button>
    </div>
  <% end %>
<% end %>