<% labels.each do |label| %>
  <div class="bg-white w-300px p-2 border">
    <div class="d-flex justify-content-between align-items-center">
      <p class="m-b-0 font-size-18 font-semibold text-uppercase text-gray-700">
        <%= label.name %>
      </p>
      <span class="icon-holder">
        <%= link_to new_project_label_task_path(@current_project, label) do %>
          <i class="anticon anticon-plus-circle font-size-17"></i>
        <% end %>
      </span>
    </div>
    <div id="label-<%=label.id%>" class="overflow-y-auto vh-78 pb-[60px]" data-controller="move-task" data-to="label" data-label="<%= label.id %>" data-move-task-target="move" draggable="false" data-action="dragstart->move-task#dragStart dragend->move-task#dragEnd drop->move-task#drop dragenter->move-task#dragEnter 
      dragleave->move-task#dragLeave dragover->move-task#dragOver">
      <%= render partial: "tasks/task",locals: { tasks: label.tasks.asc_priority } %>
    </div>
  </div>
<% end %>