
<div class="prose flex-col max-w-none flex w-full">
  <div id="chatroom_container" class="flex-row flex">
    <div class="flex-none h-[70vh] overflow-auto overflow-y-auto">
      <p>
        <span data-modal-target="new-room-modal" data-modal-toggle="new-room-modal" class="icon-holder text-blue-500 pointer">
          New Room
          <i class="anticon anticon-plus-circle font-size-17"></i>
        </span>
        <%= render partial: "rooms/new_modal", locals: { room: Room.new }%>
      </p>
      <h4 class="d-flex justify-between pr-2">
        Private Rooms
      </h4>
      <%= turbo_stream_from "rooms" %>
      <div id="rooms">
        <% @private_rooms&.each do |private_room|%>
          <%= render partial: "rooms/room", locals: {room: private_room} %>
        <% end %>
      </div>
      <h4 class="d-flex justify-between pr-2">
        Public Rooms
      </h4>
      <%= turbo_stream_from "rooms" %>
      <div id="rooms">
        <%= render @rooms %>
      </div>
    </div>
    <div id="room_container" class="flex-auto border w-full rounded h-[70vh] overflow-auto overflow-y-auto">
      <%= turbo_frame_tag "room-details" do %>
        <h3 class="p-2 d-flex justify-between mt-0 sticky top-0 bg-white">
            <div class="d-flex flex-col">
              <%= @room.name %>  
              <small class="font-size-12"><%=@room.member_ids.count%> Member(s)</small>      
            </div>
          <div data-controller="join-room">
            <% if @room.is_private && @room.joined %>
              <%= link_to "Invite", "", data: {action: "click->join-room#invite", room: @room.id}, class: "btn text-decoration-none btn-primary btn-tone hover:text-white m-r-20"%>
            <% end %>
            <% if !@room.joined %>
              <%= button_to "Join", join_room_path(@room), method: "post", class: "btn text-decoration-none btn-primary btn-tone hover:text-white m-r-20"%>
            <% end %>
          </div>
        </h3>
        <%= turbo_stream_from dom_id(@room) %>
        <div id="messages">
          <%= render @messages %>
        </div>
      <% end %>
    </div>
  </div>
  <% if @room.joined %>
    <div id="mess-form">
      <%= render partial: "messages/form", locals: {room: @room, message: @message} %>
    </div>
  <% end %>
</div>