<!DOCTYPE html>
<html>
  <head>
    <title>Work I Do</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="app">
      <div class="layout">
        <!-- Header START -->
        <%= render "layouts/shared/header" %>

        <!-- Header END -->

        <!-- Side Nav START -->
        <%= render "layouts/shared/navi" %>
        <!-- Side Nav END -->

        <!-- Page Container START -->
        <div class="page-container">
          <!-- Content Wrapper START -->
          <div class="main-content">
            <%= yield %>
          </div>
          <!-- Content Wrapper END -->

          <!-- Footer START -->
          <%#= render "layouts/shared/footer" %>
          <!-- Footer END -->

        </div>
        <!-- Page Container END -->

        <!-- Detail task START-->
        <%= turbo_frame_tag "task-show" do %><% end %>
        <!-- Detail task END-->
      </div>
    </div>
  </body>
</html>
